.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid white;
}

.App-header:hover {
  border-bottom: 1px solid orangered;

}

.pageContent {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}